@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap');
/* Common css */
*{
    margin:0;
    padding:0
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
.img{
    vertical-align: middle;
}
.clr{
    clear: both;
}
.main{
    display: flex;
}
.container{
    width: 1140px;
    margin:0 auto
}
/* Common css */




/* nav part */
nav .logo{
    width:30%;
    margin-top: 20px;
   
}
nav .navmenu{
    background-color:#0E0A2D ;
    border-bottom-left-radius: 40px;
    position: absolute;
    right: 0;
    width:55%
    
}
nav .navmenu ul{
    padding:30px 0;
    margin-left: 50px;
}
nav .navmenu ul li{
    display: inline-block;
}
nav .navmenu ul li a{
    color:white;
    padding:0 20px;
    font-size: 18px;
    font-weight: 500;
    transition: 0.5s;
    font-family: 'Josefin Sans', sans-serif;
}
nav .navmenu ul li a:hover{
    color:#9E9DAB;
}
/* nav part */






/* banner part */
#banner .banner_text{
    margin-top:300px
}
.banner_text h4{
    font-size: 30px;
    color:#5F24EF;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
}
.banner_text h1{
    font-size: 80px; 
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    margin:20px 0;
}
.banner_text h1 span{
    color:#5F24EF
}
.banner_text h2{
    font-size: 48px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
}
.banner_text p{
    font-size: 24px;
    font-family:'Josefin Sans', sans-serif; 
    font-weight: 600;
    margin:30px 0;
}
.banner_button{
    margin-bottom: 200px;
}
.banner_button a{
padding:12px 30px;
display: inline-block;
color:white;
font-family: 'Josefin Sans', sans-serif;;
background-color:#3e267b;
font-weight: 800;
border-radius: 8px;
font-size: 20px;
border-bottom-right-radius: 26px;
position:relative;
z-index: 2;
overflow: hidden;
margin-right: 25px;
}
.banner_button a::after{
    content:'';
    position:absolute;
    top:0;
    left:0;
    height: 100%;
    background-color: #5525ce;
    width:80%;
    clip-path: polygon(0 0, 100% 0, 92% 100%, 0% 100%);
    z-index: -3;
    transition: 0.3s;
    

}

.banner_button a:hover::after{
    width:130%
}
.banner_button a::before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    height: 100%;
    background-color: #5f24ef;
    width:70%;
    clip-path: polygon(0 0, 100% 0, 92% 100%, 0% 100%);
    z-index: -2;
    transition: 0.3s;
}
.banner_button a:hover::before{
    width:130%;
}


#banner .shape {
    position: absolute;
    top:0;
    right: 0;
    z-index: -3;
}
#banner .man {
    position: absolute;
    top:58px;
    right: 0;
    
    
}
.shapeleft{
    position: absolute;
    left: 0;
    top:185px
}
/* banner part */





/* counter part */
.banner_details{
    padding:40px 30px;
    text-align: center;
   
    width:900px;
    border-radius:125px;
    margin: 0 auto;
    background-image: linear-gradient(45deg, #08bbf6 0%, #6122ef 63%);
}

.banner_details h2,h6{
    color:white
}

.banner_details .main{
    justify-content: space-around;

}
.details_icon{
    position: relative;
    width:22%;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    
}
.details_icon::after{
    position: absolute;
    content: '';
    bottom:-20px;
    width:70%;
    height: 2px;
    background-color:hsla(0, 0%, 74%, 0.458);
    left:50%;
    transform: translateX(-50%);
   transition: 0.5s;

}
.details_icon:hover::after{
    width:90%;
}
.details_icon h2{
    padding:10px 0;
    font-size: 35px;
}
.details_icon h6{
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 400;
}
.details_icon i{
    padding:10px 0;
    font-size: 40px;
    color:#242678;
}
#counter_part{
    position: relative;
}
#counter_part::after{
    position: absolute;
    content: '';
    height: 1px;
    width: 100%;
    background-color: #c1c1c172;
    left: 0;
    top: 50%;
    z-index: -2;
    transform: translateY(-50%);
}
/* counter part */